* {
  background-color: #212529;
}

input[type="text"]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: white;
}
input[type="text"]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
}
input[type="text"]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
}
input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

form,
input,
label {
  color: white !important;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

@media only screen and (max-width: 505px) {
  .table-wrapper,
  .coin-popup-wrapper {
    -moz-transform: scale(0.78);
    -webkit-transform: scale(0.78);
    -o-transform: scale(0.78);
    -ms-transform: scale(0.78);
    transform: scale(0.78);
    transform-origin: 0 0;
  }
}

@media only screen and (max-width: 400px) {
  .table-wrapper,
  .coin-popup-wrapper {
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    transform-origin: 0 0;
  }
}
